main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}
img{
    max-width: 50px;
}

p{
    max-width: 350px;
    text-align: center;
}
h1{
    font-size: 20px;
    font-weight: bold;
}