################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/sandbox/Aleksa_Djordjevic/crud-app/back/VideoGameAPI/obj/Release/net9.0
