<main>
    <div id="head">
        <img src="./assets/logo91.png" alt="" id="logo" routerLink="/home">
        <div id="right">
            <p>Logout</p>
            <img src="./assets/bell.svg" alt="">
            <img src="./assets/A1.jpg" alt="" id="pfp">
        </div>
    </div>
    <div id="page">
        <app-menu-bar></app-menu-bar>
        <div id="show">
            <app-overview></app-overview>
        </div>
        <div></div>
    </div>
    <hr>
    <app-footer-bar></app-footer-bar>
</main>