<main>
    <p-toast />
    <p-confirmdialog />
    <div id="head">
        <img src="./assets/logo91.png" alt="" id="logo" routerLink="/home">
        <div id="right">
            <select (change)="changeLanguage($event)">
                <option value="sr">Srpski</option>
                <option value="en">English</option>
            </select>
            <button (click)="onLogoutClick()" id="lgbtn">{{ 'LOGOUT' | translate }}</button>
            <p (click) = "myProfile()" id="username">{{username}}</p>
            <img [src]="previewUrl || defaultImage" alt="profile picture" id="pfp" (click) = "myProfile()">
        </div>
    </div>
    <div id="page">
        <app-menu-bar [items] = "[{ title: 'OVERVIEW', image: './assets/eye.svg', imageWhite: './assets/eyeWhite.svg', link: 'overview'},
    { title: 'EVENTS', image: './assets/calendar.svg', imageWhite: './assets/calendarWhite.svg', link: 'events'},
      { title: 'CALENDAR', image: './assets/cal.svg', imageWhite: './assets/calWhite.svg' , link: 'calendar'},
      { title: 'CREATE', image: './assets/plus.svg', imageWhite: './assets/plusWhite.svg' , link: 'create-event'},
      { title: 'MYPROFILE', image: './assets/profile.svg', imageWhite: './assets/profileWhite.svg', link: 'my-profile' }]"></app-menu-bar>
        <div id="show">
            <router-outlet></router-outlet>
        </div>
    </div>
    <hr>
    <!-- <app-footer-bar></app-footer-bar> -->
</main>