@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Wet+Paint&display=swap');
*{
    font-family: "Archivo",'Courier New', Courier, monospace, sans-serif;
    flex-wrap: wrap;
}

#prof{
    display: flex;
    align-items: center;
}
#pfp{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transition: 0.3s;
}
#pfp:hover{
    transition: 0.3s;
    box-shadow: 0px 0px 5px 2px #636AE8;
}

#lgbtn{
    transition: 0.3s;
}

#lgbtn:hover{
    box-shadow: 0px 0px 5px 2px rgb(213, 213, 213);
    transition: 0.3s;
}
main{
display: flex;
flex-direction: column;
}
#head{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(232, 232, 232);
    padding-top: 10px;
    background-color: white;
    position:fixed;
    width: 100%;
    z-index: 10;
}
#right{
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 1rem;
}
#right button{
    padding: 0.25rem 0.75rem;
    border: 1px solid #EBEBEAFF;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}
#logo{
    max-width: 120px;
    margin-left: 25px;
}
#page{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; 
}
#show{
    padding: 2rem;
    padding-left: 0.25rem;
    max-width: 1500px;
    width: 100%;
    padding-top: 5rem;
    margin-right: 1rem;
    transition: 0.8s;
}
img:hover{
    cursor: pointer;
}
hr{
    color: rgb(232, 232, 232);
}


#lgout{
    border: 1px solid rgb(232, 232, 232);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
#lgout:hover{
    cursor: pointer;
}
select:hover, option:hover{
    cursor: pointer;
}
#username:hover{
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #logo{
        max-width: 90px;
        margin-left: 12px;
    }
    #username{
        display: none;
    }
    #right{
        gap: 0.5rem;
        margin-right: 6px;
    }
    #show{
        padding-left: 1rem;
        padding-right: 1rem;
        transition: 0.8s;
    }
    #head{
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

@media screen and (max-width: 1666px) {
    #show{
        padding-top: 55px;
        padding-left:320px;
        padding-right: 10px;
        transition: 0.8s;
    }
}

@media screen and (max-width: 768px) {
    #show{
        padding-left:50px;
        padding-right: 0px;
        margin-top: 100px;
        transition: 0.8s;
    }
}

@media screen and (max-width: 328px) {

    #show{
        margin-top: 125px;
        transition: 0.8s;
    }
}