<div id="data">
    <div id="fr">
        <div id="sit">
            <p id="status">{{status}}</p>
            <p id="time">{{time}}</p>
        </div>
        <img [src]="image" alt="">
    </div>
    <div id="info">
        <p id="tt">{{title}}</p>
        <div class="in1">
            <i class="pi pi-users"></i>
            <p>{{host}}</p>
        </div>
        <div class="in1">
            <i class="pi pi-building"></i>
            <p>{{location}}</p>
        </div>
        
    </div>
    <button>{{"MANAGE" | translate}} <i class="pi pi-arrow-right"></i></button>
</div>