#data {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(232, 232, 232);
    border-radius: 10px;
    padding: 15px;
    max-width: 800px;
}

#status {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
}

#time {
    font-weight: bold;
    color: #8C8D8BFF;
}

#mngev:hover {
    background-color: #585dcd;
}

#sit {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#fr {
    display: flex;
    justify-content: space-between;
    gap: 550px;
    transition: 0.8s;

}

@media screen and (width <=1095px) {
    #fr {
        gap: 150px;
        transition: 0.8s;
    }
}

@media screen and (width <=500px) {
    #fr {
        gap: 0px;
        transition: 0.8s;
    }
}

#evPic {
    max-width: 120px;
    max-height: 100px;
    object-fit: cover;
    object-position: center;
    margin-left: -60px;
    border-radius: 10px;
}

#tt {
    font-size: 20px;
    font-weight: bold;
}

#info {
    display: flex;
    flex-direction: column;
}

button {
    display: flex;
    background-color: #636AE8;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button:hover {
    cursor: pointer;
}

.in1 {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #8C8D8BFF;
}