<div id="data">
    <div id="fr">
        <div id="sit">
            <p id="status" [ngStyle]="{
     'color': event.getStatusLabel() == 'Draft' ? '#2748B2' :
              event.getStatusLabel() == 'Published' ? '#166534' :
              event.getStatusLabel() == 'Canceled' ? '#9C2020' : 'black',
              'background-color': event.getStatusLabel() === 'Draft' ? '#DBEAFE' :
                         event.getStatusLabel() === 'Published' ? '#DCFCE7' :
                         event.getStatusLabel() === 'Canceled' ? '#FEE2E2' : 'gray'
   }">{{event.getStatusLabel()}}</p>
            <p id="time">{{event.getStartDateTime() | date: 'MM/dd/yyyy' }}</p>
        </div>
        <img [src]="event.getImage()" alt="">
    </div>
    <div id="info">
        <p id="tt">{{event.getTitle()}}</p>
        <div class="in1">
            <i class="pi pi-users"></i>
            <p>{{currentUser}}</p>
        </div>
        <div class="in1">
            <i class="pi pi-building"></i>
            <p>{{event.getLocation()}}</p>
        </div>
        
    </div>
    <button (click)="manageEvent(event)" id="mngev">{{"MANAGE" | translate}} <i class="pi pi-arrow-right"></i></button>
</div>