.content{
    /*min-width: 1500px;*/
    padding-right: 3rem;
}

.basic-info-and-map{
    width: 100%;
    display: flex;
    gap: 1rem;
    /* flex-wrap: wrap; */

}

.agenda-section-and-tickets{
    margin-top: 2rem;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
}

@media screen and (width <= 1830px){

    .basic-info-and-map{
        flex-wrap: wrap;
        justify-content: center;
    }
    
}