<div class="content">

    <p-toast />
    <p-confirmdialog />
    <header>

        <nav>

            <div class="logo-and-nav">

                <img src="./assets/logo91.png" alt="logo" routerLink="/home" id="lg">
                <ul>
                    <li [ngClass]="{'active-link' : currentPage === 'Dashboard'}">Dashboard</li>
                    <li>Settings</li>
                </ul>

            </div>

            <div class="user-actions">
                <button (click)="onLogoutClick()" id="lgout">Logout</button>
                <i class="pi pi-bell"></i>

                <div class="pfp">
                    <img src="./assets/user-example-pfp.jpg" alt="Profile Picture">
                </div>
            </div>

        </nav>


        <div class="title">
            <h1>Admin Overview</h1>
            <p>Comprehensive dashboard for managing and monitoring user activity across SyncUp.</p>
        </div>

    </header>

    <section class="cards">

        <app-statistic-card
            [cardTitle]="'Total Users'"
            [statValue]="users.length"
            [statDesc]="'Registered accounts'"
            [statPercent]="registeredTotalUsersStat() | number : '1.2-2'"
            [imgUrl]="'./assets/lucide-Users-Outlined.svg'">
        </app-statistic-card>

        <app-statistic-card
            [cardTitle]="'Active Users'"
            [statValue]="getActiveCountLast30()"
            [statDesc]="'Currently logged in or active recently'"
            [statPercent]="activeUsersStat() | number : '1.2-2'"
            [imgUrl]="'./assets/lucide-UserCheck-Outlined.svg'">
        </app-statistic-card>

        <app-statistic-card
            [cardTitle]="'New Registrations'"
            [statValue]="getRegisterCountLast30()"
            [statDesc]="'This month'"
            [statPercent]="newRegistrationsStat() | number : '1.2-2'"
            [imgUrl]="'./assets/lucide-CalendarDays-Outlined.svg'">
        </app-statistic-card>

        <app-statistic-card
            [cardTitle]="'Dormant Accounts'"
            [statValue]="getDormantCountLast30()"
            [statDesc]="'No activity for 90+ days'"
            [statPercent]="dormantAccountStat() | number : '1.2-2'"
            [imgUrl]="'./assets/lucide-UserMinus-Outlined.svg'">
        </app-statistic-card>
    </section>


<section class="chart-container">
  <div class="chart-box bar">
    <p-chart type="bar" [data]="barChartData" [options]="barChartOptions" #barChart></p-chart>
  </div>

  <div class="chart-box doughnut">
    <p-chart type="doughnut" [data]="doughnutChartData" [options]="doughnutChartOptions" #doughnutChart></p-chart>
  </div>
</section>

<div class="card table-styles">
    <p-table
        #dt
        [value]="users"
        [(selection)]="selectedUsers"
        dataKey="userId"
        [rowHover]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0"
        [globalFilterFields]="['username', 'email', 'role', 'isActive', 'lastLogin', 'creationTime']"
    >
        <ng-template #caption>
            <div class="flex justify-between">
                <p-button [outlined]="true" icon="pi pi-filter-slash" label="Clear" (click)="clear(dt)" />
                <p-iconField iconPosition="left">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" [(ngModel)]="searchValue" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Keyboard Search" />
                </p-iconField>
            </div>
        </ng-template>

        <ng-template #header>
            <tr>

                <th style="width: 4rem">
                    <p-tableHeaderCheckbox />
                </th>

                <th pSortableColumn="username" style="min-width: 14rem">
                    <div class="flex justify-between items-center gap-2">
                        Username
                        <p-sortIcon field="username" />
                        <p-columnFilter type="text" field="username" display="menu" class="ml-auto" />
                    </div>
                </th>

                <th pSortableColumn="email" style="min-width: 14rem">
                    <div class="flex justify-between items-center gap-2">
                        Email
                        <p-sortIcon field="email" />
                        <p-columnFilter type="text" field="email" display="menu" class="ml-auto" />
                    </div>
                </th>

                <th pSortableColumn="role" style="min-width: 14rem">
                    <div class="flex justify-between items-center gap-2">
                        Role
                        <p-sortIcon field="role" />
                        <p-columnFilter 
                        field="role"
                        matchMode="in" 
                        display="menu" 
                        [showMatchModes]="false" 
                        [showOperator]="false" 
                        [showAddButton]="false" 
                        class="ml-auto">
                            <ng-template #filter let-value let-filter="filterCallback">
                                <p-multiselect 
                                [filter]="true"
                                [ngModel]="selectedRoles"
                                (ngModelChange)="onRoleFilterChange($event, filter)" 
                                [options]="roles" 
                                placeholder="Any" 
                                optionLabel="name" 
                                class="w-full">
                                    <ng-template let-option #item>
                                        <span> {{ option.name }}</span>
                                    </ng-template>
                                </p-multiselect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>

                <th pSortableColumn="lastLogin" style="min-width: 14rem">
                    <div class="flex justify-between items-center gap-2">
                        Last Login
                        <p-sortIcon field="lastLogin" />
                        <p-columnFilter type="date" field="lastLogin" display="menu" class="ml-auto" />
                    </div>
                </th>

                <th pSortableColumn="creationTime" style="min-width: 14rem">
                    <div class="flex justify-between items-center gap-2">
                        Register Date
                        <p-sortIcon field="creationTime" />
                        <p-columnFilter type="date" field="creationTime" display="menu" class="ml-auto" />
                    </div>
                </th>

                <th pSortableColumn="isActive" style="min-width: 14rem">
                    <div class="flex justify-between items-center gap-2">
                        Status
                        <p-sortIcon field="isActive" />
                        <p-columnFilter field="isActive" matchMode="equals" display="menu" class="ml-auto">
                            <ng-template #filter let-value let-filter="filterCallback">
                                <p-dropdown 
                                [ngModel]="value"
                                (ngModelChange)="filter($event)"
                                 [options]="[
                                    { label: 'Active', value: true },
                                    { label: 'Inactive', value: false }
                                    ]" 
                                placeholder="Any">
                                    <ng-template let-option #item>
                                        <p-tag [value]="option.label" [severity]="getSeverity(option.label)" />
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th style="width: 5rem"></th>
            </tr>
        </ng-template>

        <ng-template #body let-user>
            <tr class="p-selectable-row">

                <td>
                    <p-tableCheckbox [value]="user" />
                </td>

                <td>
                    {{ user.username }}
                </td>

                <td>
                    {{ user.email }}
                </td>

                <td>
                    {{ user.role }}
                </td>

                <td>
                    {{ user.lastLogin | date: 'MM/dd/yyyy' }}
                </td>

                <td>
                    {{ user.creationTime | date: 'MM/dd/yyyy' }}
                </td>

                <td>
                    <p-tag [value]="user.isActive ? 'Active' : 'Inactive'" [severity]="getSeverity(user.isActive ? 'Active' : 'Inactive')" />
                </td>

                <td style="text-align: center">
                    <p-button
                    *ngIf="user.role === 'Supplier'"
                    [icon]="user.isActive ? 'pi pi-times' : 'pi pi-check'"
                    [label]="user.isActive ? 'Deactivate' : 'Activate'"
                    [severity]="user.isActive ? 'danger' : 'success'"
                    size="small"
                    [style]="{'width': '100px'}"
                    (click)="toggleUserActivation(user)"
                    ></p-button>
                </td>

            </tr>
        </ng-template>

        <ng-template #emptymessage>
            <tr>
                <td colspan="8">No users found.</td>
            </tr>
        </ng-template>

    </p-table>
    
</div>

</div>