<main>
    <p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"/>
    <p-confirmdialog />
    <div id="head">
        <img src="./assets/logo91.png" alt="" id="logo" routerLink="/home">
        <div id="right">
            <select (change)="changeLanguage($event)">
                <option value="sr">Srpski</option>
                <option value="en">English</option>
            </select>
            <button (click)="onLogoutClick()" id="lgbtn">{{ 'LOGOUT' | translate }}</button>
            <p (click) = "myProfile()" id="username">{{currSupplier?.getUsername()}}</p>
            <img [src]="previewUrl || defaultImage" alt="profile picture" id="pfp" (click) = "myProfile()">
        </div>
    </div>
    <div id="page">
        <app-menu-bar
            [items]="[{ title: 'DASHBOARD', image: './assets/eye.svg', imageWhite: './assets/eyeWhite.svg', link: 'dashboard'},
            { title: 'CALENDAR', image: './assets/cal.svg', imageWhite: './assets/calWhite.svg' , link: 'calendar'},
            { title: 'MYPROFILE', image: './assets/profile.svg', imageWhite: './assets/profileWhite.svg', link: 'my-profile' }]"></app-menu-bar>
        <div id="show">
            <router-outlet></router-outlet>
        </div>
    </div>
    <hr>
</main>