<app-header-bar></app-header-bar>
    <p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"/>
    <app-banner></app-banner>
    <app-info id ="learnMore" [title]=" 'INFOTITLE' | translate" [title1]=" 'T2' | translate" [desc1]=" 'D2' | translate" image2="./assets/admin.png" [title2]=" 'T3' | translate" [desc2]=" 'D3' | translate" image3="./assets/org.png" [title3]=" 'T1' | translate" [desc3]=" 'D1' | translate" image1="./assets/supp.png"></app-info>

    <app-info [title]=" 'INFOTITLE2' | translate" [title1]=" 'T4' | translate"
        [desc1]=" 'D4' | translate"
        image1="./assets/cye.png" [title2]=" 'T5' | translate"
        [desc2]=" 'D5' | translate"
        image2="./assets/loc.png" [title3]=" 'T6' | translate"
        [desc3]=" 'D6' | translate"
        image3="./assets/time.png"></app-info>

    <app-promo-banner></app-promo-banner>
<app-footer-bar></app-footer-bar>