<app-header-bar></app-header-bar>
    <app-banner></app-banner>
    <app-info title="Who Benefits?" title1="For Admins" desc1="Gain comprehensive oversight of all users,
 roles, and platform activities, ensuring compliance 
and efficiency." image1="./assets/admin.png" title2="For Organizers" desc2="Effortlessly create, manage, and track all 
your events,
 from resource allocation to real-time schedules." image2="./assets/org.png" title3="For Suppliers" desc3="Showcase your resources, manage availability, 
and streamline requests, 
enhancing your event engagements." image3="./assets/supp.png"></app-info>

    <app-info title="How SyncUp Works" title1="1. Create Your Event"
        desc1="Define all event parameters from type, location, date, to capacity and detailed descriptions."
        image1="./assets/cye.png" title2="2. Assign Resources & Suppliers"
        desc2="Easily define necessary resources, select preferred suppliers, and integrate location maps."
        image2="./assets/loc.png" title3="3. Manage & Collaborate"
        desc3="Oversee schedules, track activities, and facilitate real-time collaboration with all stakeholders."
        image3="./assets/time.png"></app-info>

    <app-promo-banner></app-promo-banner>
<app-footer-bar></app-footer-bar>