<h2>Lista video igara</h2>

<table border="1" cellpadding="5" cellspacing="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Naziv</th>
      <th>Opis</th>
      <th>Godina</th>
      <th>Akcije</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of videoGames">
      <td>{{ game.id }}</td>
      <td>{{ game.naziv }}</td>
      <td>{{ game.opis }}</td>
      <td>{{ game.godina }}</td>
      <td>
        <button (click)="deleteGame(game.id)">Obriši</button>
      </td>
    </tr>
  </tbody>
</table>
