bin/
obj/
app.publish/
*.exe
*.dll
*.log

.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user
.vscode/*            
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
packages/
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

*.db
*.sqlite
*.bak
*_migrations/

######################
# Secrets / config
######################
# Keep the template but ignore local-secret copies
appsettings.Development.json
secrets.json
*.secret.json

######################
# OS miscellany
######################
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
