<p-dialog
  [modal]="true"
  [(visible)]="visible"
  [style]="{ 'max-height': '70rem', 'overflow-y': 'auto' }"
  (onHide)="onCancleClick()"
  [closable]="false"
  [dismissableMask]="false"
  [closeOnEscape]="false"
>
  <ng-template pTemplate="header">
    <div class="flex justify-between items-start w-full">
      <div class="formTitle">
      <h3>{{ isEditMode ? ('TICKET.EDIT_TICKET' | translate) : ('TICKET.CREATE_NEW_TICKET' | translate) }}</h3>
      <p>{{ isEditMode ? ('TICKET.UPDATE_DETAILS_BELOW' | translate) : ('TICKET.FILL_DETAILS_BELOW' | translate) }}</p>
      </div>
      <button
        type="button"
        class="p-dialog-header-icon p-link p-button-rounded p-button-text exit-button"
        (click)="onCancleClick()"
        pTooltip="{{ 'CLOSE' | translate }}"
        tooltipPosition="left"
      >
        <i class="pi pi-times"></i>
      </button>
    </div>
  </ng-template>
    
  <form action="" [formGroup]="ticketForm" class="activityForm">

    <div class="ticket">

      <div class="name-price">

        <div class="input-wrapper w-full">
          <p>{{ 'TICKET.TICKET_NAME' | translate }}</p>
          <p-floatlabel class="w-full md:w-56" variant="on">
            <input type="text" pInputText placeholder=" " formControlName="name" id="ticketName" class="w-full md:w-56 h-10 border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500" />
            <label for="ticketName">{{ 'TICKET.ENTER_TICKET_NAME' | translate }}</label>
          </p-floatlabel>
        </div>

        <div class="input-wrapper w-full">
          <p>{{ 'TICKET.TICKET_PRICE' | translate }}</p>
          <p-floatlabel class="w-full md:w-56" variant="on">
            <p-inputnumber placeholder=" " mode="currency" [currency]="currencyCode" [locale]="localeCode" formControlName="price" [style]="{ width: '100%' }" inputStyleClass="w-full md:w-56 h-10 border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500" />
            <label for="ticket-price">{{ 'TICKET.ENTER_TICKET_PRICE' | translate }}</label>
          </p-floatlabel>
        </div>

      </div>

      <div class="dates">

        <div class="input-wrapper">
          <p>{{ 'TICKET.VALID_FROM' | translate }}</p>
          <p-floatlabel class="w-full md:w-56" variant="on">
            <p-datepicker inputId="validFrom" placeholder=" " formControlName="validFrom" [showTime]="true" hourFormat="24" [minDate]="eventBasicInfo.getStartDate() ?? null" [maxDate]="eventBasicInfo.getEndDate() ?? null" [style]="{ width: '100%' }" inputStyleClass="w-full h-10 border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500"/>
            <label for="validFrom">{{ 'TICKET.VALID_FROM_DATE' | translate }}</label>
          </p-floatlabel>
        </div>

        <div class="input-wrapper">
          <p>{{ 'TICKET.VALID_UNTIL' | translate }}</p>
          <p-floatlabel class="w-full md:w-56" variant="on">
            <p-datepicker inputId="validUntil" placeholder=" " formControlName="validUntil" [showTime]="true" hourFormat="24" [minDate]="eventBasicInfo.getStartDate() ?? null" [maxDate]="eventBasicInfo.getEndDate() ?? null" [style]="{ width: '100%' }" inputStyleClass="w-full h-10 border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500"/>
            <label for="validUntil">{{ 'TICKET.VALID_UNTIL_DATE' | translate }}</label>
          </p-floatlabel>
        </div>

      </div>

      <div class="input-wrapper">
        <p>{{ 'TICKET.QUOTA' | translate }}</p>
        <p-floatlabel class="w-full md:w-56" variant="on">
          <p-inputnumber formControlName="quota" inputId="quota" [min]="1" [useGrouping]="false" [showButtons]="false" [style]="{ width: '100%' }" inputStyleClass="w-full md:w-56 h-10 border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500"></p-inputnumber>
          <label for="quota">{{ 'TICKET.ENTER_TICKET_QUOTA' | translate }}</label>
        </p-floatlabel>
      </div>

      <div class="input-wrapper">
        <p>{{ 'TICKET.TICKET_DESCRIPTION' | translate }}</p>
        <p-floatlabel class="w-full md:w-56" variant="on">
          <textarea pTextarea id="description" placeholder=" " formControlName="description" rows="5" cols="30" style="resize: none" class="h-full w-full md:w-56 h-10 border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500"></textarea>
          <label for="description">{{ 'TICKET.DESCRIBE_YOUR_TICKET' | translate }}</label>
        </p-floatlabel>
      </div>

    </div>

    <div class="form-buttons">
      <p-button 
      [label]="isEditMode ? ('COMMON.SAVE_CHANGES' | translate) : ('TICKET.CREATE_TICKET' | translate)"
      [icon]="isEditMode ? 'pi pi-save' : 'pi pi-plus'"
      [raised]="true"
      (onClick)="submitForm()"
      severity="primary"
      ></p-button>

      <p-button 
        label="{{ 'COMMON.CANCEL' | translate }}"
        icon="pi pi-times"
        [raised]="true"
        severity="secondary"
        type="button"
        (onClick)="onCancleClick()"
        ></p-button>
    </div>
  </form>
</p-dialog>