<main>
    <app-newest-event *ngIf="allEvents && allEvents.length > 0; else noEvents" image="./assets/ne.jpg"
        [title]="allEvents[0].getTitle()" [location]="allEvents[0].getLocation()"
        [time]="allEvents[0].getStartDateTime().toString()" [desc]="allEvents[0].getDescription()" [event]="allEvents[0]"></app-newest-event>
<ng-template #noEvents>
  <div class="no-events-container">
    <div class="no-events-content">
      <h2>{{ 'NO_EVENTS' | translate }}</h2>
      <button (click)="createEvent()" class="create-event-button">
        <i class="pi pi-plus"></i>
        <span>{{'ADDEV' | translate }}</span>
      </button>
    </div>
  </div>
</ng-template>
    <div id="botside" *ngIf="allEvents && allEvents.length > 0">
        <div id="ls">
            <div id="timeline">
                <img src="./assets/cal.svg" alt="">
                <div id="linija"></div>
            </div>
            <div id="leftside">
                
                <div id="track">
                    <h2>{{'UPEV' | translate }}</h2>
                    <select name="Status" id="selStatus" (change)="changeStatus($event)">
                        <option value="-1">{{'ALL' | translate }}</option>
                        <option value="0">{{'DRAFT' | translate }}</option>
                        <option value="1">{{'PUBLISHED' | translate }}</option>
                        <option value="2">{{'CANCELED' | translate }}</option>
                    </select>
                    <button id="ae" (click) = "createEvent()"><i class="pi pi-plus"></i>{{'ADDEV' | translate }}</button>
                </div>
                <div id="events">
                    <app-event-preview *ngFor="let event of filteredEvents; index as i" [event]="event">
                    </app-event-preview>

                </div>
            </div>
        </div>

        <div id="rightside">
            <div id="stat">
                <img src="./assets/calendar.svg" alt="">
                <div id="tin">
                    <p id="n1">{{'TE' | translate }}</p>
                    <p id="n2">{{allEvents.length}}</p>
                </div>
            </div>
            <!--<div id="stat">
                <img src="./assets/people.svg" alt="">
                <div id="tin">
                    <p id="n1">{{'UA' | translate }}</p>
                    <p id="n2">1.2k</p>
                </div>
            </div>-->
        </div>
    </div>

</main>