<main>
    <app-newest-event image="./assets/ne.jpg" title="Demo Product Session" location="Tokyo" time="3:19 PM GMT+8"
        desc="Join us for an exclusive demo of our latest product features, designed to streamline your workflow and boost productivity. This session is tailored for investors and potential partners, offering an in-depth look at our innovative solutions."></app-newest-event>
    <div id="botside">
        <div id="leftside">
            <div id="track">
                <h2>Upcoming Events</h2>
                <button>+ Add Event</button>
            </div>
            <div id="events">
                <app-event-preview image = "./assets/eimg1.jpg" status="Live" time="6:00 AM" title="Tech Meetup" host="By Alex Smith & Sam Lee" location ="Zoom"></app-event-preview>
                <app-event-preview image = "./assets/eimg1.jpg" status="Upcoming" time="9:00 AM" title="Product Launch Showcase" host="By Sarah Chen" location ="Online Webinar"></app-event-preview>
            </div>
        </div>
        <div id="rightside">

        </div>
    </div>

</main>