main{
    max-width: 70%;
}

h2{
    font-size: 20px;
    font-weight: bold;
}

#track{
    display: flex;
    justify-content: space-between;
}
#track button{
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding:5px;
    font-size: 14px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #636AE8;
    border: 2px solid #636AE8;
    text-align: center;
}

#botside{
    margin-top: 50px;
}

#events{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap:20px;
}

