
<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }" />
<section class="form-container">
  <div class="form-and-sidebar">
    <form class="reset-form" [formGroup]="resetForm" (ngSubmit)="submitForm()">
      <div class="form-header">
        <div class="title">
          <h1>Reset Password</h1>
          <p>Enter your new password below.</p>
        </div>
        <img src="/assets/logo91.png" alt="logo" routerLink="/home" />
      </div>

      <div class="form-inputs">
        <div class="input-wrapper w-full">
          <p class="font-medium break-words">New Password</p>
          <p-floatlabel class="w-full" variant="on" inputId="newPassword">
            <p-password
              formControlName="newPassword"
              [toggleMask]="true"
              styleClass="w-full"
              inputStyleClass="w-full h-10 border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-[#636AE8] focus:border-[#636AE8]"
            >
              <ng-template #header>
                <div class="font-semibold text-xm mb-4">Pick a Password</div>
              </ng-template>
              <ng-template #footer>
                <p-divider />
                <ul class="pl-2 ml-2 my-0 leading-normal">
                  <li>At least one lowercase character</li>
                  <li>At least one uppercase character</li>
                  <li>At least one digit</li>
                  <li>Minimum 8 characters long</li>
                </ul>
              </ng-template>
            </p-password>
            <label for="newPassword">Enter new password</label>
          </p-floatlabel>
        </div>

        <div class="input-wrapper w-full">
          <p class="font-medium break-words">Confirm New Password</p>
          <p-floatlabel class="w-full" variant="on" inputId="confirmPassword">
            <p-password
              formControlName="confirmPassword"
              [toggleMask]="true"
              styleClass="w-full"
              inputStyleClass="w-full h-10 border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-[#636AE8] focus:border-[#636AE8]"
            >
              <ng-template #header>
                <div class="font-semibold text-xm mb-4">Confirm New Password</div>
              </ng-template>
              <ng-template #footer>
                <p-divider />
                <ul class="pl-2 ml-2 my-0 leading-normal">
                  <li>At least one lowercase character</li>
                  <li>At least one uppercase character</li>
                  <li>At least one digit</li>
                  <li>Minimum 8 characters long</li>
                </ul>
              </ng-template>
            </p-password>
            <label for="confirmPassword">Confirm new password</label>
          </p-floatlabel>
        </div>
      </div>

      <button
        type="submit"
        class="bg-[#636AE8] text-white rounded-md px-4 py-2 hover:bg-[#575FCE]"
      >
        Reset Password
      </button>
    </form>
    
    <div class="have-account">
      <p class="text-[#636AE8]" routerLink="/login">Back to Login</p>
    </div>
  </div>
</section>