<header>
    <div id="leftside">
        <img src="./assets/logo91.png" alt="syncup logo" id="logo">
        <p routerLink="/Home">{{ 'HOME' | translate }}</p>
        <p>{{ 'ABOUTUS' | translate }}</p>
        <p>{{ 'ContactUs' | translate }}</p>
        <p routerLink="/organizer">Organizer</p>
        <p routerLink="/Admin">Admin</p>
    </div>
    <div id="rightside">
        <select (change)="changeLanguage($event)">
            <option value="sr">Srpski</option>
            <option value="en">English</option>
        </select>
        <p>|</p>
        <p id="login" routerLink="/Login">{{ 'LOGIN' | translate }}</p>
        <p>/</p>
        <p id="register" routerLink="/Register">{{ 'REGISTER' | translate }}</p>
    </div>
</header>