<h2 *ngIf="isEditMode">Izmeni video igru</h2>
<h2 *ngIf="!isEditMode">Dodaj novu video igru</h2>

<form (ngSubmit)="onSubmit()" #gameForm="ngForm">
  <label>Naziv:</label>
  <input type="text" name="naziv" [(ngModel)]="videoGame.naziv" required />

  <label>Opis:</label>
  <input type="text" name="opis" [(ngModel)]="videoGame.opis" required />

  <label>Godina:</label>
  <input type="number" name="godina" [(ngModel)]="videoGame.godina" required />

  <button type="submit" [disabled]="!gameForm.form.valid">
    {{ isEditMode ? 'Izmeni igru' : 'Dodaj igru' }}
  </button>
</form>
