<section class="form-container">

  <div class="form-and-sidebar">

    <form action="" class="register-form"  [formGroup]="registerForm">

      <div class="form-header">

        <div class="title">
          
          <h1>{{"CACC" | translate}}</h1>
          <p>
            {{"CDESC" | translate}}
          </p>
          
        </div>

        <img src="/assets/logo91.png" alt="logo" routerLink="/home"/>

      </div>

      <div class="form-inputs">

        <div class="input-wrapper">

          <p>{{"IAM" | translate}}</p>
          <p-floatlabel class="w-full md:w-56" variant="on">
            <p-select  [options]="roles"  name="role"  formControlName="role"  placeholder=" "  inputId="roles"  class="w-full md:w-56 h-10"/>
            <label for="roles">{{"S1" | translate}}</label>
          </p-floatlabel>

        </div>

        <div  class="input-wrapper">

          <p>{{"USERNAME" | translate}}</p>
          <p-floatlabel class="w-full md:w-56" variant="on">
            <input  type="text"  pInputText  placeholder=" "  formControlName="username"  inputId="username"  class="w-full md:w-56 h-10 border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500" />
            <label for="username">{{"EUSER" | translate}}</label>
          </p-floatlabel>

        </div>

        <!-- <div  class="input-wrapper"  *ngIf="registerForm.get('role').value === 'Supplier'">

          <p>Supplier Name</p>
          <p-floatlabel class="w-full md:w-56" variant="on">
            <input  type="text"  pInputText  placeholder=" "  formControlName="username"  inputId="supplierName"  class="w-full md:w-56 h-10 border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500" />
            <label for="supplierName">Enter Supplier Name</label>
          </p-floatlabel>

        </div> -->

        <div class="input-wrapper">

          <p>Email</p>
          <p-floatlabel class="w-full md:w-56" variant="on">
            <input  type="text"  pInputText  placeholder=" "  formControlName="email"  inputId="email"  class="w-full md:w-56 h-10 border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500"  />
            <label for="email">{{"EMAILPH" | translate}}</label>
          </p-floatlabel>

        </div>

        <div class="passwords">

          <div class="input-wrapper">
            <p>{{"Password" | translate}}</p>
            <p-floatlabel  class="w-full md:w-56"  variant="on"  inputId="password">
              <p-password formControlName="password" [toggleMask]="true">
                <ng-template #header>
                  <div class="font-semibold text-xm mb-4">{{"PICK" | translate}}</div>
                </ng-template>
                <ng-template #footer>
                  <p-divider />
                  <ul class="pl-2 ml-2 my-0 leading-normal">
                    <li>{{"U1" | translate}}</li>
                    <li>{{"U2" | translate}}</li>
                    <li>{{"U3" | translate}}</li>
                    <li>{{"U4" | translate}}</li>
                  </ul>
                </ng-template>
              </p-password>
              <label for="password">{{"PASSPH" | translate}}</label>
            </p-floatlabel>
          </div>

          <div class="input-wrapper">
            <p>{{"CONF" | translate}}</p>
            <p-floatlabel class="w-full md:w-56" variant="on" inputId="confirm">
              <p-password formControlName="confirm" [toggleMask]="true">
                <ng-template #header>
                  <div class="font-semibold text-xm mb-4">{{"CONF" | translate}}</div>
                </ng-template>
                <ng-template #footer>
                  <p-divider />
                  <ul class="pl-2 ml-2 my-0 leading-normal">
                    <li>{{"U1" | translate}}</li>
                    <li>{{"U2" | translate}}</li>
                    <li>{{"U3" | translate}}</li>
                    <li>{{"U4" | translate}}</li>
                  </ul>
                </ng-template>
              </p-password>
              <label for="confirm">{{"PASSPH" | translate}}</label>
            </p-floatlabel>
          </div>

        </div>

      </div>

      <p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"/>
      <p-confirmdialog />
      <button type="button" class="bg-violet-400 text-white rounded-md px-4 py-2 hover:bg-violet-500"  (click)="submitForm()">
        {{"RACC" | translate}}
      </button>

      <div class="have-account">
        <p class="text-violet-400" routerLink="/login">
          {{"YESACC" | translate}}
        </p>
        <select (change)="changeLanguage($event)">
      <option value="sr">Srpski</option>
      <option value="en">English</option>
    </select>
      </div>
      
    </form>
    
  </div>

</section>
