<div class="map-section">

    <div class="map-header">
        <h1>Location Map</h1>
        <button  icon="pi pi-plus" (click)="startPlacingPin()"><i class="pi pi-plus"></i>Add Pin</button>
    </div>

        <hr class="custom-hr">

    <div id="map" class="map-container"></div>

    <app-pin-modal #pinModal (pinSaved)="onPinSaved($event)" [eventId]="eventBasicInfo.getEventID()"></app-pin-modal>

   <p-dialog header="Pin Actions" [(visible)]="displayPinDialog" [modal]="true" [closable]="true" (onHide)="onPinDialogClose()">
    <div>
        <p><strong>Pin📌: {{ selectedPin?.getLabel() }}</strong></p>
        
    </div>
    <div class="action">
        <p>Choose an action:</p>
        <div class="action-buttons">
            <!-- Edit Button -->
            <button
            pButton
            type="button"
            icon="pi pi-pencil"
            class="p-button-rounded p-button-text p-button-sm"
            (click)="openEditPinModal(selectedPin)"
            pTooltip="Edit Pin"
            tooltipPosition="top">
            </button>

            <!-- Delete Button -->
            <button
            pButton
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-text p-button-sm p-button-danger"
            (click)="deletePin(selectedPin)"
            pTooltip="Delete Pin"
            tooltipPosition="top">
            </button>

            <!-- Cancel Button -->
            <!-- <button
            pButton
            type="button"
            icon="pi pi-times"
            class="p-button-rounded p-button-text p-button-sm p-button-secondary"
            (click)="displayPinDialog = false"
            pTooltip="Cancel"
            tooltipPosition="top">
            </button> -->

        </div>
    </div>
    
    </p-dialog>

</div>

