<div id="outer">
    <div id="main">
        <div id="leftside">
            <div id="info">
                <p id="title">My Profile</p>
                <p id="role">Supplier</p>
            </div>

            <div class="profile-container">
                
                <label for="fileUpload" class="upload-label">
                    <img [src]="previewUrl || defaultImage" class="profile-img" alt="Profile" />
                    <input type="file" id="fileUpload" (change)="onFileSelected($event)" accept="image/*" hidden />
                </label>
                <p id="user">{{username}}</p>
                <button id="upbut" (click)="triggerFileUpload()">
                    <i class="pi pi-upload"></i>Choose
                </button>
            </div>


            <div id="form">
                <div id="row">
                    <div id="field">
                        <label for="name">Name</label>
                        <input id="name" type="text" [value]="currSupplier?.getCompanyName()" class="form-control" />
                    </div>
                    <div id="field">
                        <label for="username">Username</label>
                        <input id="username" type="text" [value]="currSupplier?.getUsername()" class="form-control" />
                    </div>

                </div>
                <div id="row">
                    <div id="field">
                        <label for="email">Email</label>
                        <input id="email" type="text" [value]="currSupplier?.getEmail()" class="form-control" />
                    </div>
                    <div id="field">
                        <label for="phone">Phone Number</label>
                        <input id="phone" type="text" [value]="currSupplier?.getPhoneNumber()" class="form-control" />
                    </div>

                </div>
                <label for="bio">Bio</label>
                <textarea name="bio" id="bio">{{currSupplier?.getCompanyBio()}}</textarea>
                <label for="website">Website</label>
                <input id="website" type="text" [value]="currSupplier?.getWebsite()" class="form-control" />
                <button id="upp" (click)="update()">Update Profile</button>

                <div id="pass">
                    <div id="onepass">
                        <label for="cpass">Current Password</label>
                        <input id="cpass" type="password" class="form-control" />
                    </div>
                    <div id="onepass">
                        <label for="npass">New Password</label>
                        <input id="npass" type="password" class="form-control" />
                    </div>

                    <div id="onepass">
                        <label for="cnpass">Confirm New Password</label>
                        <input id="cnpass" type="password" class="form-control" />
                    </div>

                </div>
                <button id="upp" (click)="updatePass()">Change Password</button>
            </div>
        </div>
        <div id="rightside">
            <h1>Service Details</h1>
            <p-select [options]="services" [(ngModel)]="selectedService" optionLabel="name"
                placeholder="Select a Service" class="w-full" />
            <p-select [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"
                placeholder="Select a Service Area" class="w-full" />
        </div>
    </div>
</div>