<div id="outer">
    <div id="main">
        <div id="leftside">
            <div id="info">
                <p id="title">{{ 'MY_PROFILE' | translate }}</p>
                <p id="role">{{ 'ROLE_ORGANIZER' | translate }}</p>
            </div>

            <div class="profile-container">
                <label for="fileUpload" class="upload-label">
                    <img [src]="previewUrl || defaultImage" class="profile-img" alt="Profile" />
                    <input type="file" id="fileUpload" (change)="onFileSelected($event)" accept="image/*" hidden />
                </label>
                <button id="upbut" (click)="triggerFileUpload()">
                    <i class="pi pi-upload"></i>{{ 'CHOOSE_IMAGE' | translate }}
                </button>

                <button class="del" (click)="deletePic()">
                    <i class="pi pi-times"></i>Remove Picture
                </button>
            </div>

            <div id="form">
                <label for="name">{{ 'NAME' | translate }}</label>
                <input id="name" type="text" [value]="currOrganizer?.getName()" class="form-control" />

                <label for="username5">{{ 'USERNAME' | translate }}</label>
                <input id="username5" type="text" [value]="currOrganizer?.getUsername()" class="form-control" />

                <label for="email">{{ 'EMAIL' | translate }}</label>
                <input id="email" type="text" [value]="currOrganizer?.getEmail()" class="form-control" />

                <label for="phone">{{ 'PHONE_NUMBER' | translate }}</label>
                <input id="phone" type="text" [value]="currOrganizer?.getPhoneNumber()" class="form-control" />

                <button id="upp" (click)="update()">{{ 'UPDATE_PROFILE' | translate }}</button>

                <div id="pass">
                    <div id="onepass">
                        <label for="cpass">{{ 'CURRENT_PASSWORD' | translate }}</label>
                        <input id="cpass" type="password" class="form-control" />
                    </div>
                    <div id="onepass">
                        <label for="npass">{{ 'NEW_PASSWORD' | translate }}</label>
                        <input id="npass" type="password" class="form-control" />
                    </div>
                    <div id="onepass">
                        <label for="cnpass">{{ 'CONFIRM_NEW_PASSWORD' | translate }}</label>
                        <input id="cnpass" type="password" class="form-control" />
                    </div>
                </div>

                <button id="upp" (click)="updatePass()">{{ 'CHANGE_PASSWORD' | translate }}</button>
            </div>
        </div>

        <div id="rightside">
            <h1>{{ 'EVENT_OVERVIEW' | translate }}</h1>

            <div id="card">
                <i class="pi pi-calendar-clock"></i>
                <div id="addinfo">
                    <p id="amount">{{ allEvents?.length }}</p>
                    <p id="type">{{ 'EVENTS_ORGANIZED' | translate }}</p>
                </div>
            </div>
            <div id="card">
                <i class="pi pi-users"></i>
                <div id="addinfo">
                    <p id="amount">{{ dashboardMetrics?.totalTicketsSold }}</p>
                    <p id="type">{{ 'TOTAL_ATTENDEES' | translate }}</p>
                </div>
            </div>
            <div id="card">
                <i class="pi pi-calendar"></i>
                <div id="addinfo">
                    <p id="amount">{{ upcomingEvents?.length }}</p>
                    <p id="type">{{ 'UPCOMING_EVENTS' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>