<div id="outer">
    <div id="main">
        <div id="leftside">
            <div id="info">
                <p id="title">My Profile</p>
                <p id="role">Event Organizer</p>
            </div>

            <div class="profile-container">
                <label for="fileUpload" class="upload-label">
                    <img [src]="previewUrl || defaultImage" class="profile-img" alt="Profile" />
                    <input type="file" id="fileUpload" (change)="onFileSelected($event)" accept="image/*" hidden />
                </label>
                <button id="upbut"(click)="triggerFileUpload()">
                    <i class="pi pi-upload"></i>Choose
                </button>

                <button class="del" (click)="deletePic()">
                    <i class="pi pi-times"></i>Remove Picture
                </button>
            </div>


            <div id="form">
                <label for="name">Name</label>
                <input id="name" type="text" [value]="currOrganizer?.getName()" class="form-control" />
                <label for="username5">Username</label>
                <input id="username5" type="text" [value]="currOrganizer?.getUsername()" class="form-control" />
                <label for="email">Email</label>
                <input id="email" type="text" [value]="currOrganizer?.getEmail()" class="form-control" />
                <label for="phone">Phone Number</label>
                <input id="phone" type="text" [value]="currOrganizer?.getPhoneNumber()" class="form-control" />
                <button id="upp" (click)="update()">Update Profile</button>

                <div id="pass">
                    <div id="onepass">
                        <label for="cpass">Current Password</label>
                        <input id="cpass" type="password" class="form-control" />
                    </div>
                    <div id="onepass">
                        <label for="npass">New Password</label>
                        <input id="npass" type="password" class="form-control" />
                    </div>

                    <div id="onepass">
                        <label for="cnpass">Confirm New Password</label>
                        <input id="cnpass" type="password" class="form-control" />
                    </div>

                </div>
                <button id="upp" (click)="updatePass()">Change Password</button>
            </div>
        </div>
        <div id="rightside">
            <h1>Event Overview</h1>

            <div id="card">
                <i class="pi pi-calendar-clock"></i>
                <div id="addinfo">
                    <p id="amount">{{allEvents?.length}}</p>
                    <p id="type">Events Organized</p>
                </div>
            </div>
            <div id="card">
                <i class="pi pi-users"></i>
                <div id="addinfo">
                    <p id="amount">{{dashboardMetrics?.totalTicketsSold}}</p>
                    <p id="type">Total Attendees</p>
                </div>
            </div>
            <div id="card">
                <i class="pi pi-calendar"></i>
                <div id="addinfo">
                    <p id="amount">{{upcomingEvents?.length}}</p>
                    <p id="type">Upcoming Events</p>
                </div>
            </div>
        </div>
    </div>
</div>