main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.8s;
}

h1{
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 50px;
}

.title{
    width: 100%;
    
}

#ae{
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding:5px;
    font-size: 14px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #636AE8;
    border: 2px solid #636AE8;
    text-align: center;
    max-width: 200px;
    transition: 0.8s;
}

#ae:hover{
    cursor: pointer;
    background-color: #575dcb;
}
#ae{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3px;
    transition: 0.8s;
}

#infocards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap:20px;
    transition: 0.8s;
}
#ftwo{
    gap:20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
}
#graphs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    gap:50px;
    margin-top: 50px;
    transition: 0.8s;
}

#group{
display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:50px;
  max-height: 400px;
  transition: 0.8s;

}
.chart-box {
  flex: 1 1 47.5%;     
  
  border: 1px solid #EBEBEA;
  border-radius: 12px;
  padding: 1rem;
  box-sizing: border-box;      
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
}

.pad{
    width: 50%;
}

.bar{
    width: 90%;
}

#card{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
    flex-wrap: wrap;
    transition: 0.8s;
}



#cardTitle{
    font-weight: bold;
    color:gray;
}

#cardNum{
    font-size: 2.5rem;
    font-weight: bold;
}
#cardDesc{
    color:gray;
}

.events-table{
    border: 1px solid #EBEBEAFF;
    border-radius: 12px;
    margin: 2rem;
    overflow-x: auto; 
    transition: 0.8s;

}

.events-table h1{
    padding: 1rem 2rem;

}

.custom-hr {
  height: 2px;
  background-color: #EBEBEA;
  border: none;
}

.event-image {
  width: 200px; 
  height: 50px;
  object-fit: cover; 
  border-radius: 4px; 
}

 :host ::ng-deep {
        .p-paginator {
            .p-paginator-current {
                margin-left: auto;
            }
        }

        .p-progressbar {
            height: .5rem;
            background-color: #D8DADC;

            .p-progressbar-value {
                background-color: #607D8B;
            }
        }

        .table-header {
            display: flex;
            justify-content: space-between;
        }

        .p-calendar .p-datepicker {
            min-width: 25rem;

            td {
                font-weight: 400;
            }
        }

        .p-datatable.p-datatable-customers {
            .p-datatable-header {
                padding: 1rem;
                text-align: left;
                font-size: 1.5rem;
            }

            .p-paginator {
                padding: 1rem;
            }

            .p-datatable-thead > tr > th {
                text-align: left;
            }

            .p-datatable-tbody > tr > td {
                cursor: auto;
            }

            .p-dropdown-label:not(.p-placeholder) {
                text-transform: uppercase;
            }
        }

        .p-w-100 {
            width: 100%;
        }

        /* Responsive */
        .p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
            display: none;
        }
    }

    @media screen and (max-width: 960px) {
        :host ::ng-deep {
            .p-datatable-customers {
            overflow-x: auto;
        }
            .p-datatable {
                &.p-datatable-customers {
                    .p-datatable-thead > tr > th,
                    .p-datatable-tfoot > tr > td {
                        display: none !important;
                    }

                    .p-datatable-tbody > tr {
                        border-bottom: 1px solid var(--layer-2);

                        > td {
                            text-align: left;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            border: 0 none;

                            .p-column-title {
                                min-width: 30%;
                                display: inline-block;
                                font-weight: bold;
                            }

                            p-progressbar {
                                width: 100%;
                            }

                            &:last-child {
                                border-bottom: 1px solid var(--surface-d);
                            }
                        }
                    }
                }
            }
        }
    }

@media screen and (max-width: 1800px) {
#infocards{
    flex-direction: column;
    max-height: 2000px;
    transition: 0.8s;
}
#group{
    flex-direction: column;
    max-height: 2000px;
    transition: 0.8s;
}
.chart-box{
    max-width: 650px;
    transition: 0.8s;
}
main{
    margin-top:80px;
    margin-left: 120px;
    transition: 0.8s;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.events-table{
    max-width: 800px;
    scale:0.8;
    transition: 0.8s;
    
}

}

@media screen and (max-width: 1200px) {
#infocards{
    flex-direction: column;
    max-height: 2000px;
    transition: 0.8s;
}
#group{
    flex-direction: column;
    max-height: 2000px;
    transition: 0.8s;
}
.chart-box{
    max-width: 650px;
    transition: 0.8s;
}
main{
    margin-left: -100px;
    transition: 0.8s;
}

}

@media screen and (max-width: 975px) {

#ftwo{
    flex-direction: column;
    transition: 0.8s;
}

#graphs{
    scale:0.7;
    transition: 0.8s;
}

.events-table{
    max-width: 600px;
    scale:0.8;
    transition: 0.8s;
}


}
.line{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 555px) {

main{
    
    transition: 0.8s;
}
#infocards{
    scale: 0.8;
    transition: 0.8s;
}
.events-table{
    max-width: 500px;
    transition: 0.8s;
}
.line{
    display: block;
    justify-content: flex-start;
    flex-wrap: wrap;
}
}

@media screen and (max-width: 437px) {
    .events-table{
    max-width: 300px;
    transition: 0.8s;
}
main{
    margin-left: -65px;
    transition: 0.8s;
}
}

.pad{
    display: flex;
    flex-direction: column;
    gap:10px;
}