button{
    font-size: 15px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    background-color: rgb(87, 52, 226);
    color:white;
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: white;
    color:rgb(87, 52, 226);
    cursor: pointer;
    border: 1px solid rgb(87, 52, 226);
}