
<header>
    <p-breadcrumb [model]="items"></p-breadcrumb>
    <div class="title-buttons">
        <h1 class="font-archivo">{{ eventTitle }}</h1>
        <div class="buttons">
            <p *ngIf="currStatus == 'Canceled'" id="cancelText">Event is canceled</p>
            <button *ngIf="currStatus == 'Draft'" class="delete-btn font-inter" (click) = "deleteEvent()"><i class="pi pi-trash"></i>Delete Event</button>
            <button *ngIf="currStatus == 'Published'" class="cancel-btn font-inter" (click) = "cancelEvent()"><i class="pi pi-times"></i>Cancel Event</button>
            <button *ngIf="currStatus != 'Canceled'" class="edit-btn font-inter" id="cnclbtn" (click)="onEditClick()"><i class="pi pi-pen-to-square"></i>Edit Event</button>
            <button *ngIf="currStatus == 'Draft'" class="publish-btn font-inter" (click) = "publishEvent()"><i class="pi pi-check-circle"></i>Publish Event</button>
            
            
        </div>
    </div> 

    <hr class="custom-hr">
</header>


