<h1>{{title}}</h1>
<div class="all">
  <div>
  <app-text-input ph="Name" (valueChange)="nameA = $event"></app-text-input>
  <app-text-input ph="Type" (valueChange)="typeA = $event"></app-text-input>
  <app-text-input ph="Episodes" (valueChange)="episodesA = $event"></app-text-input>
  <app-text-input ph="Score" (valueChange)="scoreA = $event"></app-text-input>

  <app-button text="Add" (btnClick)="addAnime(nameA,typeA,episodesA,scoreA)"></app-button>
  </div>
  <!--<div>
    <app-text-input ph="ID" (valueChange) ="inputIdRead = $event" ></app-text-input>
    <app-button text="Read" (btnClick) ="readID(inputIdRead)"></app-button>
  </div>-->
  <div>
    <app-text-input ph="ID" (valueChange)="IDB = $event"></app-text-input>
    <app-text-input ph="Name" (valueChange)="nameB = $event"></app-text-input>
    <app-text-input ph="Type" (valueChange)="typeB = $event"></app-text-input>
    <app-text-input ph="Episodes" (valueChange)="episodesB = $event"></app-text-input>
    <app-text-input ph="Score" (valueChange)="scoreB = $event"></app-text-input>
    <app-button text="Update" (btnClick) = "updateAnime(IDB,nameB,typeB,episodesB,scoreB)"></app-button>
  </div>
  <div>
    <app-text-input ph="ID" (valueChange)="IDC = $event"></app-text-input>
    <app-button text="Delete" (btnClick) = "deleteAnime(IDC)"></app-button>
  </div>
  <div>
    <app-button text="ReadAll" (btnClick)="readAll()"></app-button>
  </div>  
</div>
<div *ngIf="animes.length > 0; else noData">
  <h1>Current DataBase</h1>
  <ul>
    <li *ngFor="let anime of animes">
      id: {{ anime.id }} - <strong>{{ anime.name }}</strong> ({{ anime.type }}) - {{ anime.episodes }} ep - Score: {{ anime.score }}
    </li>
  </ul>
</div>

<ng-template #noData>
  <h1>Current DataBase</h1>
  <h3>No data to show</h3>
</ng-template>
