<p-toast></p-toast>
<p-dialog
  [modal]="true"
  [(visible)]="visible"
  [style]="{ 'max-height': '70rem', 'overflow-y': 'auto' }"
  (onHide)="onCancleClick()"
  [closable]="false"
  [dismissableMask]="false"
  [closeOnEscape]="false"
>

  <ng-template pTemplate="header">
    <div class="flex justify-between items-start w-full">
      <div class="formTitle">
        <h3>Forgot Password?</h3>
        <p>Enter you email so you can reset your password.</p>
      </div>
      <button
        type="button"
        class="p-dialog-header-icon p-link p-button-rounded p-button-text exit-button"
        (click)="onCancleClick()"
        pTooltip="{{ 'COMMON.CLOSE' | translate }}"
        tooltipPosition="left"
      >
        <i class="pi pi-times"></i>
      </button>
    </div>
  </ng-template>

  <form [formGroup]="emailForm" class="activityForm">
    <div class="form-inputs">

      <div class="input-wrapper">
        <p>Email</p>
        <p-floatlabel class="w-full md:w-56" variant="on">
          <input
            type="text"
            pInputText
            placeholder=" "
            formControlName="email"
            inputId="email"
            class="w-full md:w-56 h-10 border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500"
          />
          <label for="title">Enter your Email</label>
        </p-floatlabel>
      </div>

    </div>

      <div class="form-buttons">
        <p-button
          [label]="'Send Email'"
          [icon]="'pi pi-save'"
          [raised]="true"
          (onClick)="submitForm()"
          severity="primary"
        ></p-button>

        <p-button
          label="{{ 'COMMON.CANCEL' | translate }}"
          icon="pi pi-times"
          [raised]="true"
          severity="secondary"
          type="button"
          (onClick)="onCancleClick()"
        ></p-button>
      </div>
  </form>
</p-dialog>