<main>
    <div id="leftside">
        <p id="title">Streamline Your Events, Seamlessly.</p>
        <p id="desc">SyncUp empowers admins, organizers, and
            suppliers to manage events, resources, and
            collaborations with unparalleled efficiency
            and insight.</p>
        <div id="buttons">
        <button id="gs">Get Started</button>
        <button id="lm">Learn More</button>
        </div>
    </div>
    <img src="./assets/bannerImage.png" alt="people gathered at event">
</main>