<div class="form-container">
    <form action="" class="eventForm" [formGroup]="eventForm">

        <div class="formTitle">
            <h3>{{ 'EVENT.CREATE_TITLE' | translate }}</h3>
            <p>{{ 'EVENT.CREATE_SUBTITLE' | translate }}</p>
        </div>

        <div class="form-inputs">

            <div class="input-wrapper">
                <p>{{ 'EVENT.TITLE' | translate }}</p>
                <p-floatlabel class="w-full md:w-56" variant="on">
                    <input type="text" pInputText placeholder=" " formControlName="title" inputId="title"
                        class="w-full md:w-56 h-10 border border-gray-300 rounded-md px-3 py-2 
                        focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500" />
                    <label for="title">{{ 'EVENT.TITLE_PLACEHOLDER' | translate }}</label>
                </p-floatlabel>
            </div>

            <div class="input-wrapper">
                <p>{{ 'EVENT.DESCRIPTION' | translate }}</p>
                <p-floatlabel class="w-full md:w-56" variant="on">
                    <textarea pTextarea id="description" placeholder=" " formControlName="description"
                        rows="5" cols="30" style="resize: none"
                        class="h-full w-full md:w-56 h-10 border border-gray-300 rounded-md px-3 py-2 
                        focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500"></textarea>
                    <label for="description">{{ 'EVENT.DESCRIPTION_PLACEHOLDER' | translate }}</label>
                </p-floatlabel>
            </div>

            <div class="location-capacity">
                <div class="input-wrapper">
                    <p>{{ 'EVENT.LOCATION' | translate }}</p>
                    <p-floatlabel class="w-full md:w-56" variant="on">
                        <p-autoComplete
                            inputId="location"
                            formControlName="location"
                            [suggestions]="filteredLocations"
                            (completeMethod)="searchLocations($event)"
                            field="display_name"
                            [minLength]="2"
                            class="w-full md:w-56"
                            (onSelect)="onLocationSelect($event)"
                            [style]="{ width: '100%' }"
                            inputStyleClass="w-full md:w-56 h-10 border border-gray-300 rounded-md px-3 py-2 
                            focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500"
                        >
                        </p-autoComplete>
                        <label for="location">{{ 'EVENT.LOCATION_PLACEHOLDER' | translate }}</label>
                    </p-floatlabel>
                </div>

                <div class="input-wrapper">
                    <p>{{ 'EVENT.CAPACITY' | translate }}</p>
                    <p-floatlabel class="w-full md:w-56" variant="on">
                        <p-inputnumber
                            formControlName="capacity"
                            inputId="capacity"
                            [min]="1"
                            [useGrouping]="false"
                            [showButtons]="false"
                            [style]="{ width: '100%' }"
                            inputStyleClass="w-full md:w-56 h-10 border border-gray-300 rounded-md px-3 py-2 
                            focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500"
                        ></p-inputnumber>
                        <label for="capacity">{{ 'EVENT.CAPACITY_PLACEHOLDER' | translate }}</label>
                    </p-floatlabel>

                    <div class="flex items-center gap-2">
                        <p-checkbox formControlName="isUnlimitedCapacity" inputId="isUnlimitedCapacity"
                            name="isUnlimitedCapacity" binary="true" size="large" />
                        <label for="isUnlimitedCapacity">{{ 'EVENT.UNLIMITED_CAPACITY' | translate }}</label>
                    </div>
                </div>
            </div>

            <div class="dates">
                <div class="input-wrapper">
                    <p>{{ 'EVENT.START_DATE' | translate }}</p>
                    <p-floatlabel class="w-full md:w-56" variant="on">
                        <p-datepicker inputId="startDateTime" placeholder=" " formControlName="startDateTime"
                            [showTime]="true" hourFormat="24" [minDate]="minDate" [style]="{ width: '100%' }"
                            inputStyleClass="w-full h-10 border border-gray-300 rounded-md px-3 py-2 
                            focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500"/>
                        <label for="startDateTime">{{ 'EVENT.START_DATE_PLACEHOLDER' | translate }}</label>
                    </p-floatlabel>
                </div>

                <div class="input-wrapper">
                    <p>{{ 'EVENT.END_DATE' | translate }}</p>
                    <p-floatlabel class="w-full md:w-56" variant="on">
                        <p-datepicker inputId="endDateTime" placeholder=" " formControlName="endDateTime"
                            [showTime]="true" hourFormat="24" [minDate]="minDate" [style]="{ width: '100%' }"
                            inputStyleClass="w-full h-10 border border-gray-300 rounded-md px-3 py-2 
                            focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500"/>
                        <label for="endDateTime">{{ 'EVENT.END_DATE_PLACEHOLDER' | translate }}</label>
                    </p-floatlabel>
                </div>
            </div>

            <div class="input-wrapper">
                <p>{{ 'EVENT.CATEGORY' | translate }}</p>
                <p-floatlabel class="w-full" variant="on">
                    <p-select [options]="categories" name="category" formControlName="category" placeholder=" "
                        inputId="category"
                        class="w-full h-10 border border-gray-300 rounded-md focus:outline-none 
                        focus:ring-2 focus:ring-[#636AE8] focus:border-[#636AE8]"/>
                    <label for="category">{{ 'EVENT.CATEGORY_PLACEHOLDER' | translate }}</label>
                </p-floatlabel>
            </div>

            <div class="tickets" formArrayName="tickets">
                <p>{{ 'EVENT.TICKETS' | translate }}</p>

                <div class="ticket" *ngFor="let ticket of tickets.controls; let i = index" [formGroupName]="i">

                    <div class="name-price">
                        <div class="input-wrapper w-full">
                            <p>{{ 'EVENT.TICKET_NAME' | translate }}</p>
                            <p-floatlabel class="w-full md:w-56" variant="on">
                                <input type="text" pInputText placeholder=" " formControlName="name"
                                    [id]="'ticketName-' + i"
                                    class="w-full md:w-56 h-10 border border-gray-300 rounded-md px-3 py-2 
                                    focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500" />
                                <label [for]="'ticketName-' + i">{{ 'EVENT.TICKET_NAME_PLACEHOLDER' | translate }}</label>
                            </p-floatlabel>
                        </div>

                        <div class="input-wrapper w-full">
                            <p>{{ 'EVENT.TICKET_PRICE' | translate }}</p>
                            <p-floatlabel class="w-full md:w-56" variant="on">
                                <p-inputnumber placeholder=" " mode="currency" [currency]="currencyCode"
                                    [locale]="localeCode" formControlName="price" [style]="{ width: '100%' }"
                                    [inputStyleClass]="'ticket-price-' + i + 
                                    ' w-full md:w-56 h-10 border border-gray-300 rounded-md px-3 py-2 
                                    focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500'"/>
                                <label [for]="'ticket-price-' + i">{{ 'EVENT.TICKET_PRICE_PLACEHOLDER' | translate }}</label>
                            </p-floatlabel>
                        </div>
                    </div>

                    <div class="dates">
                        <div class="input-wrapper">
                            <p>{{ 'EVENT.TICKET_VALID_FROM' | translate }}</p>
                            <p-floatlabel class="w-full md:w-56" variant="on">
                                <p-datepicker inputId="validFrom" placeholder=" " formControlName="validFrom"
                                    [showTime]="true" hourFormat="24"
                                    [minDate]="eventStart ?? null" [maxDate]="eventEnd ?? null" [style]="{ width: '100%' }"
                                    inputStyleClass="w-full h-10 border border-gray-300 rounded-md px-3 py-2 
                                    focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500"/>
                                <label for="validFrom">{{ 'EVENT.TICKET_VALID_FROM_PLACEHOLDER' | translate }}</label>
                            </p-floatlabel>
                        </div>

                        <div class="input-wrapper">
                            <p>{{ 'EVENT.TICKET_VALID_UNTIL' | translate }}</p>
                            <p-floatlabel class="w-full md:w-56" variant="on">
                                <p-datepicker inputId="validUntil" placeholder=" " formControlName="validUntil"
                                    [showTime]="true" hourFormat="24"
                                    [minDate]="eventStart ?? null" [maxDate]="eventEnd ?? null" [style]="{ width: '100%' }"
                                    inputStyleClass="w-full h-10 border border-gray-300 rounded-md px-3 py-2 
                                    focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500"/>
                                <label for="validUntil">{{ 'EVENT.TICKET_VALID_UNTIL_PLACEHOLDER' | translate }}</label>
                            </p-floatlabel>
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <p>{{ 'EVENT.TICKET_QUOTA' | translate }}</p>
                        <p-floatlabel class="w-full md:w-56" variant="on">
                            <p-inputnumber formControlName="quota" inputId="quota" [min]="1" [useGrouping]="false"
                                [showButtons]="false" [style]="{ width: '100%' }"
                                inputStyleClass="w-full md:w-56 h-10 border border-gray-300 rounded-md px-3 py-2 
                                focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500">
                            </p-inputnumber>
                            <label for="quota">{{ 'EVENT.TICKET_QUOTA_PLACEHOLDER' | translate }}</label>
                        </p-floatlabel>
                    </div>

                    <div class="input-wrapper">
                        <p>{{ 'EVENT.TICKET_DESCRIPTION' | translate }}</p>
                        <p-floatlabel class="w-full md:w-56" variant="on">
                            <textarea pTextarea id="description" placeholder=" " formControlName="description"
                                rows="5" cols="30" style="resize: none"
                                class="h-full w-full md:w-56 h-10 border border-gray-300 rounded-md px-3 py-2 
                                focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500"></textarea>
                            <label for="description">{{ 'EVENT.TICKET_DESCRIPTION_PLACEHOLDER' | translate }}</label>
                        </p-floatlabel>
                    </div>

                    <div class="delete-btn">
                        <p-button icon="pi pi-times" [rounded]="true" [text]="true" [raised]="true"
                            (onClick)="removeTicket(i)" />
                    </div>
                </div>

                <div class="add-btn">
                    <p-button icon="pi pi-plus" [rounded]="true" [text]="true" [raised]="true"
                        (onClick)="addTicket()" />
                </div>
            </div>

            <div class="input-wrapper">
                <p>{{ 'EVENT.UPLOAD_IMAGE' | translate }}</p>
                <p-fileUpload
                    [customUpload]="true"
                    [auto]="false"
                    [showUploadButton]="false"
                    [showCancelButton]="false"
                    [multiple]="false"
                    accept="image/*"
                    (onSelect)="onFileSelect($event)"
                    (onClear)="onFileClear()"
                    (onRemove)="onFileClear()"
                    chooseLabel="{{ 'EVENT.UPLOAD_IMAGE_BUTTON' | translate }}"
                    #fileUpload
                ></p-fileUpload>
            </div>

            <div class="submit-btn">
                <p-button
                    label="{{ 'EVENT.CREATE_BUTTON' | translate }}"
                    icon="pi pi-check"
                    [raised]="true"
                    severity="primary"
                    (onClick)="submitForm()"
                ></p-button>
            </div>
        </div>
    </form>
</div>
